.custom-th{
  font-size: 10px;
  font-family: monospace;
  color: #69F0AE;
}

.custom-td{
  font-size: 11px;
  font-family: monospace;
}

.custom-td-odd{
  font-size: 11px;
  font-family: monospace;
  color: green;
}

.table-row {
  height: 25px !important;
}

.example-container {
  /*height: 400px;*/
  overflow: auto;
  /*width: 600px;*/
}

tr.table-row:hover {
  background: #777;
}

th.table-header:hover {
  background: #777;
}


.mat-header-cell {
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.mat-cell {
  text-align: center;
  justify-content:center;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: absolute;
  height: 65px;
  width: 450px;
  z-index: 10;
  border-top: 2px solid white;
}

.mat-filter-sticky {
  bottom: 0px;
  left: 450px;
  background: #424242;
  padding-left: 10px;
  width: 400px;
  position: absolute;
  z-index: 10;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 1px solid white;
}

.mat-columns-sticky {
  bottom: 0px;
  color: white;
  right: 0px;
  background: #424242;
  padding-left: 10px;
  width: 200px;
  position: absolute;
  z-index: 10;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 1px solid white;
}
