.custom-th {
  font-size: 10px;
  font-family: monospace;
  color: #69F0AE;
}

.custom-td {
  font-size: 11px;
  font-family: monospace;
}

.custom-td-odd {
  font-size: 11px;
  font-family: monospace;
  color: green;
}

.table-row {
  height: 25px !important;
}

.example-container {
  height: 400px;
  /*overflow: scroll;*/
  width: 600px;
}

tr.table-row:hover {
  background: #777;
}

th.table-header:hover {
  background: #777;
}

::ng-deep .mat-horizontal-content-container {
  height: 90vh;
  overflow: auto !important;
  padding: 0 !important;
}


.mat-header-cell {
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: absolute;
  height: 65px;
  width: 450px;
  z-index: 10;
  border-top: 2px solid white;
}

.mat-filter-sticky {
  bottom: 0px;
  left: 450px;
  background: white;
  padding-left: 10px;
  width: 400px;
  position: absolute;
  z-index: 10;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 1px solid white;
}

.mat-columns-sticky {
  bottom: 9px;
  color: white;
  right: 25px;
  background: #424242;
  padding-left: 10px;
  width: 400px;
  display: inline-flex;
  position: absolute;
  z-index: 10;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 1px solid white;
}

::ng-deep .mat-list-item-content {
  width: 100% !important;
  border: solid 1px #69f0ae;
}

::ng-deep .example-tooltip-red {
  background: #b71c1c;
  font-size: 16px;
}

.number-info-display{
  color: white;
  right: 3px;
  background-color: rgba(66, 66, 66, 0.5);
  padding-left: 10px;
  width: 120px;
  font-size: 14px;
  position: fixed;
  z-index: 10;
  border: 2px solid white;
}
