<div class="example-container" style="width: 99vw; height: 100%;">


  <mat-form-field style="width: 100%; background-color: #777777; padding: 5px; height: 50px;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="">
  </mat-form-field>

  <table [dataSource]="dataSource" class="table-row" mat-table style="width: 100vw; height: 100%;">

    <ng-container matColumnDef="fieldValue" sticky>
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 245px;"> fieldValue</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.fieldValue}} </td>
    </ng-container>

    <ng-container matColumnDef="blockId">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 30px;"> blockId</th>
        <td *matCellDef="let element"  class="custom-td" mat-cell>
          <ng-container *ngIf="element.blockId % 2 == 0">
            <span style="color: #c9ff9b">{{element.blockId}}</span>
          </ng-container>
          <ng-container *ngIf="element.blockId % 2 != 0">
            <span style="color: #aae5ff">{{element.blockId}}</span>
          </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="lang">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> lang</th>
      <td *matCellDef="let element" class="custom-td" mat-cell>
        <ng-container *ngIf="element.lang == 'EnglishUnitedStates'">
          Eng
        </ng-container>
        <ng-container *ngIf="!element.lang == 'EnglishUnitedStates'">
          {{element.lang}}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="lineBaseline">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> baseline</th>
      <td *matCellDef="let element" class="custom-td" mat-cell>{{element.lineBaseline}}</td>
    </ng-container>

    <ng-container matColumnDef="lineLeft">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> line  ←</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.lineLeft}} </td>
    </ng-container>

    <ng-container matColumnDef="lineRight">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> line  →</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.lineRight}} </td>
    </ng-container>

    <ng-container matColumnDef="lineBottom">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> line  ↓</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.lineBottom}} </td>
    </ng-container>

    <ng-container matColumnDef="lineTop">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> line  ↑</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.lineTop}} </td>
    </ng-container>

    <ng-container matColumnDef="lineCenterX">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> line Cent X</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.lineCenterX}} </td>
    </ng-container>

    <ng-container matColumnDef="lineCenterY">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> line Cent Y</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.lineCenterY}} </td>
    </ng-container>

    <ng-container matColumnDef="parAlign">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> align</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.parAlign}} </td>
    </ng-container>

    <ng-container matColumnDef="parStartIndent">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> par Start</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.parStartIndent}} </td>
    </ng-container>

    <ng-container matColumnDef="parLineSpacing">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> par Space</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.parLineSpacing}} </td>
    </ng-container>

    <ng-container matColumnDef="cellWidth">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> cell ↔</th>
      <td *matCellDef="let element" class="custom-td" mat-cell>
        <ng-container *ngIf="element.blockType == 'Table'">
          {{element.cellWidth}}
        </ng-container>
        <ng-container *ngIf="!element.blockType == 'Table'">
          -
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="cellHeight">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> cell ↕</th>
      <td *matCellDef="let element" class="custom-td" mat-cell>
        <ng-container *ngIf="element.blockType == 'Table'">
          {{element.cellHeight}}
        </ng-container>
        <ng-container *ngIf="!element.blockType == 'Table'">
          -
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="blockType">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 60px;"> typ</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.blockType}} </td>
    </ng-container>

    <ng-container matColumnDef="blockName">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> name</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.blockName}} </td>
    </ng-container>

    <ng-container matColumnDef="blockLeft">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> block ←</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.blockLeft}} </td>
    </ng-container>

    <ng-container matColumnDef="blockRight">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> block →</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.blockRight}} </td>
    </ng-container>

    <ng-container matColumnDef="blockTop">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> block ↑</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.blockTop}} </td>
    </ng-container>

    <ng-container matColumnDef="blockBottom">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> block ↓</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.blockBottom}} </td>
    </ng-container>

    <ng-container matColumnDef="blockCenterCoords">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> block Cent</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.blockCenterCoords}} </td>
    </ng-container>

    <ng-container matColumnDef="blockWidth">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> block ↔</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.blockWidth}} </td>
    </ng-container>

    <ng-container matColumnDef="blockHeight">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> block ↕</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.blockHeight}} </td>
    </ng-container>

    <ng-container matColumnDef="pageWidth">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> par ↔</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.pageWidth}} </td>
    </ng-container>

    <ng-container matColumnDef="pageHeight">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> par ↕</th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.pageHeight}} </td>
    </ng-container>

    <ng-container matColumnDef="pageResolution">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> par Res </th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.pageResolution}} </td>
    </ng-container>


    <ng-container matColumnDef="probabilityInvoiceNumber">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 80px;"> % invoice </th>
      <td *matCellDef="let element" class="custom-td" mat-cell>
        <ng-container *ngIf="element.probabilityInvoiceNumberColor == 0">
          <span style="color: #b2b2b2">{{element.probabilityInvoiceNumber}}</span>
        </ng-container>
        <ng-container *ngIf="element.probabilityInvoiceNumberColor == 1">
          <span style="color: #ffff99">{{element.probabilityInvoiceNumber}}</span>
        </ng-container>
        <ng-container *ngIf="element.probabilityInvoiceNumberColor == 2">
          <span style="color: #9eff8d">{{element.probabilityInvoiceNumber}}</span>
        </ng-container>
        <ng-container *ngIf="element.probabilityInvoiceNumberColor == 3">
          <span style="color: #00ff11">{{element.probabilityInvoiceNumber}}</span>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="probInvoiceNumPositionWeight">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> % position </th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.probInvoiceNumPositionWeight}} </td>
    </ng-container>

    <ng-container matColumnDef="probInvoiceNumKeyDistanceWeight">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> % key dist </th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.probInvoiceNumKeyDistanceWeight}} </td>
    </ng-container>

    <ng-container matColumnDef="probInvoiceNumStructureWeight">
      <th *matHeaderCellDef class="custom-th" mat-header-cell style="width: 45px;"> % stuct </th>
      <td *matCellDef="let element" class="custom-td" mat-cell> {{element.probInvoiceNumStructureWeight}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" class="table-row" mat-row></tr>
  </table>

</div>
